<div class="container text-center mt-2">

    <div class="home-content row justify-content-evenly">
    <a href="/admin" class="col-5 mt-2"><div  style="border-width:2px ;height:300px;border-size:10px;border-color:red;  border-style: solid;"><div class="product-home container">
        <image src="https://i2.wp.com/viventebikes.com/wp-content/uploads/2018/09/handlebar_2-min.jpg?fit=2048%2C1461&ssl=1" style="border-width:2px ;width: 200px;height:200px;;" class="image-product-home">
            <div class="name-product">Đồ công nghệ</div>
        </image>
    </div></div></a>
    <a href="/admin" class="col-5 mt-2"><div  style="border-width:2px ;height:300px;border-size:10px;border-color:red;  border-style: solid;"><div class="product-home container">
        <image src="https://i2.wp.com/viventebikes.com/wp-content/uploads/2018/09/handlebar_2-min.jpg?fit=2048%2C1461&ssl=1" style="border-width:2px ;width: 200px;height:200px;;" class="image-product-home">
            <div class="name-product">Đồ decor</div>
        </image>
    </div></div></a>
    <a href="/motel" class="col-5 mt-2"><div  style="border-width:2px ;height:300px;border-size:10px;border-color:red;  border-style: solid;"><div class="product-home container">
        <image src="https://i2.wp.com/viventebikes.com/wp-content/uploads/2018/09/handlebar_2-min.jpg?fit=2048%2C1461&ssl=1" style="border-width:2px ;width: 200px;height:200px;;" class="image-product-home">
            <div class="name-product">Trang thuê trọ</div>
        </image>
    </div></div></a>
    <a href="/market" class="col-5 mt-2"><div  style="border-width:2px ;height:300px;border-size:10px;border-color:red;  border-style: solid;"><div class="product-home container">
        <image src="https://i2.wp.com/viventebikes.com/wp-content/uploads/2018/09/handlebar_2-min.jpg?fit=2048%2C1461&ssl=1" style="border-width:2px ;width: 200px;height:200px;;" class="image-product-home">
            <div class="name-product">Mua bán trao đổi</div>
        </image>
    </div></div></a>
</div>
</div>