<div class="mt-8 mb-20 text-mysite-text">
    
    <div style="opacity: 1; transform: none;">
        <div class="mx-auto text-center w-[70%] md:w-[60%] lg:w-[50%] xl:w-[40%] flex flex-col gap-8">
            <div class="flex flex-col gap-6">
                <div class="text-2xl gradient-text font-bold">Chọn loại sản phẩm</div>
                <div class="flex flex-col gap-2">

                    <a href="/index.html" class="flex flex-row items-center justify-between p-4 rounded-xl bg-gray-800">
                        <div class="flex flex-row items-center justify-start gap-2"><img
                                src="https://tse2.mm.bing.net/th?id=OIP.jdDFKH9coxsztPXIipstDAHaHa&pid=Api&P=0&h=180"
                                width="50" height="50">
                            <div class="text-lg">Home page</div>
                        </div><img class="justify-self-end" src="/arrow-right.svg" width="30" height="30">
                    </a>
                    <a href="keyboard_page.html"
                        class="flex flex-row items-center justify-between p-4 rounded-xl bg-gray-800">
                        <div class="flex flex-row items-center justify-start gap-2"><img
                                src="https://tse3.mm.bing.net/th?id=OIP.cAMcalzDUC8GuYuTTIfzSQHaHa&pid=Api&P=0&h=180"
                                width="50" height="50">
                            <div class="text-lg">Bàn phím cơ</div>
                        </div><img class="justify-self-end" src="/arrow-right.svg" width="30" height="30">
                    </a>

                    <a href="kit_page.html"
                        class="flex flex-row items-center justify-between p-4 rounded-xl bg-gray-800">
                        <div class="flex flex-row items-center justify-start gap-2"><img
                                src="https://tse3.mm.bing.net/th?id=OIP.kE99l5rZQLjXNiA6NXntAAHaHa&pid=Api&P=0&h=180"
                                width="50" height="50">
                            <div class="text-lg">Kit bàn phím</div>
                        </div><img class="justify-self-end" src="/arrow-right.svg" width="30" height="30">
                    </a>
                    <a href="keycap_page.html"
                        class="flex flex-row items-center justify-between p-4 rounded-xl bg-gray-800">
                        <div class="flex flex-row items-center justify-start gap-2"><img
                                src="https://tse2.mm.bing.net/th?id=OIP.-GoIPCm5nRE1nVVlIBlHJQHaHa&pid=Api&P=0&h=180"
                                width="50" height="50">
                            <div class="text-lg">Keycap đẹp</div>
                        </div><img class="justify-self-end" src="/arrow-right.svg" width="30" height="30">
                    </a>
                    <a href="switch_page.html"
                        class="flex flex-row items-center justify-between p-4 rounded-xl bg-gray-800">
                        <div class="flex flex-row items-center justify-start gap-2"><img
                                src="https://tse1.mm.bing.net/th?id=OIP.hA657DkJInavqzQOLuCWaQHaHa&pid=Api&P=0&h=180"
                                width="50" height="50">
                            <div class="text-lg">Switch bán chạy</div>
                        </div><img class="justify-self-end" src="/arrow-right.svg" width="30" height="30">
                    </a>